*{
    box-sizing: border-box;
}
.button{
    padding: 7px;
    background-color: rgb(124, 244, 244);
    margin: 4px;
    font-size: 20px;
    transition: background color 0.25;
    
}
.container{
    text-align: center;
    border: solid;
    width:  300px;
    margin: auto;
    background-color: bisque;
    transition: width  0.5s ease-in ;
    padding: 10px;
}
label{
    font-size: 30px;
}
button:hover{
    background-color: rgb(61, 172, 164);
}
.container:hover{
    width: 400px;
    border-color:rgb(92, 177, 211,0.6)
}
body{
    background-color: beige;
}
